Repository bruise-88/meet.me, pull requests merged in 2021-11, with the labels that each got.

#23 Updated from ClientCommunicator to ServerCommunicator
  Dashboard/Server/SessionManagement/ServerSessionManager.cs
Labels: Dashboard

#26 Completed the summary logic module to get summary of chat.
  Dashboard/Server/Summary/ChatProcessor.cs
  Dashboard/Server/Summary/ISummarizer.cs
  Dashboard/Server/Summary/Stemmer.cs
  Dashboard/Server/Summary/Summarizer.cs
Labels: Dashboard

#28 Client arrival completed
  Dashboard/Client/SessionManagement/ClientSessionManager.cs
  Dashboard/Client/SessionManagement/IClientSessionNotifications.cs
  Dashboard/Client/SessionManagement/IUXClientSessionManager.cs
  Dashboard/ClientToServerData.cs
  Dashboard/IRecievedFromServer.cs
  Dashboard/MeetingCredentials.cs
  Dashboard/Server/SessionManagement/ITelemetrySessionManager.cs
  Dashboard/Server/SessionManagement/ServerSessionManager.cs
  Dashboard/ServerToClientData.cs
  Dashboard/SessionData.cs
  Dashboard/SessionManagerFactory.cs
  Dashboard/UserData.cs
  Testing/Dashboard/UnitTest1.cs
Labels: Dashboard, Testing

#29 Bug Fix
  Dashboard/Server/SessionManagement/ServerSessionManager.cs
Labels: Dashboard

#30 Added the fetch summary feature and the new user receives all messages now
  Dashboard/Client/SessionManagement/ClientSessionManager.cs
  Dashboard/Server/SessionManagement/ServerSessionManager.cs
  Dashboard/ServerToClientData.cs
  Dashboard/SummaryData.cs
Labels: Dashboard

#10 Telemetry
  Dashboard/Server/Telemetry/ITelemetryAnalysisModel.cs
  Dashboard/Server/Telemetry/ServerDataToSave.cs
  Dashboard/Server/Telemetry/Telemetry.cs
  Dashboard/Server/Telemetry/TelemetryAnalyticsModel.cs
  Dashboard/SessionData.cs
Labels: Dashboard

#35 End Meeting and Client departure's implementation
  Dashboard/Client/SessionManagement/ClientSessionManager.cs
  Dashboard/Server/SessionManagement/ServerSessionManager.cs
  Dashboard/ServerToClientData.cs
  Dashboard/SessionManagerFactory.cs
Labels: Dashboard

#36 Resolved Serialization problem
  Dashboard/Client/SessionManagement/ClientSessionManager.cs
  Dashboard/Server/SessionManagement/ServerSessionManager.cs
  Dashboard/ServerToClientData.cs
  Dashboard/SessionData.cs
  Dashboard/SummaryData.cs
  Dashboard/UserData.cs
  Testing/Dashboard/ModuleTest.cs
  Testing/Dashboard/SessionManagement/SessionManagement.cs
Labels: Dashboard, Testing

#39 Addes some tests
  Dashboard/Client/SessionManagement/ClientSessionManager.cs
  Dashboard/Server/SessionManagement/ServerSessionManager.cs
  Testing/Dashboard/ModuleTest.cs
  Testing/Dashboard/SessionManagement/SessionManagementTest.cs
  Testing/Dashboard/SessionManagement/TestModules/TestCommunicator.cs
Labels: Dashboard, Testing

#40 Added some tests and minor bug fix
  Dashboard/Server/SessionManagement/ServerSessionManager.cs
  Testing/Dashboard/ModuleTest.cs
  Testing/Dashboard/SessionManagement/SessionManagement.cs
  Testing/Dashboard/SessionManagement/SessionManagementTest.cs
  Testing/Dashboard/SessionManagement/TestModules/TestCommunicator.cs
Labels: Dashboard, Testing

#42 Changed the names of Telemetry interfaces
  Dashboard/Client/SessionManagement/ClientSessionManager.cs
  Dashboard/Client/SessionManagement/IUXClientSessionManager.cs
  Dashboard/Server/Telemetry/ITelemetry.cs
  Dashboard/Server/Telemetry/SessionAnalytics.cs
  Dashboard/Server/Telemetry/Telemetry.cs
Labels: Dashboard

#13 Added interfaces for Persistence Layer
  Dashboard/Dashboard.csproj
  Dashboard/Server/Persistence/ISummaryPersistence.cs
  Dashboard/Server/Persistence/ITelemetryPersistence.cs
  Dashboard/Server/Persistence/Interface1.cs
  Dashboard/Server/Persistence/PersistenceFactory.cs
  Dashboard/Server/Persistence/SummaryPersistence.cs
  Dashboard/Server/Persistence/TelemetryPersistence.cs
Labels: Dashboard

#34 Modified names according to the requirements
  Dashboard/Server/Telemetry/ITelemetry.cs
  Dashboard/Server/Telemetry/ServerDataToSave.cs
  Dashboard/Server/Telemetry/SessionAnalytics.cs
  Dashboard/Server/Telemetry/SessionSummary.cs
  Dashboard/Server/Telemetry/Telemetry.cs
  Dashboard/SessionData.cs
Labels: Dashboard

#47 Bug fix regarding subscription and identifiers
  Dashboard/Client/SessionManagement/ClientSessionManager.cs
  Dashboard/Server/SessionManagement/ServerSessionManager.cs
Labels: Dashboard

#45 Completed Persistence Module
  Dashboard/Dashboard.csproj
  Dashboard/Server/Persistence/ISummaryPersistence.cs
  Dashboard/Server/Persistence/ITelemetryPersistence.cs
  Dashboard/Server/Persistence/Interface1.cs
  Dashboard/Server/Persistence/PersistenceFactory.cs
  Dashboard/Server/Persistence/ResponseEntity.cs
  Dashboard/Server/Persistence/SummaryPersistence.cs
  Dashboard/Server/Persistence/TelemetryPersistence.cs
  Dashboard/Server/Telemetry/ServerDataToSave.cs
  Dashboard/Server/Telemetry/SessionAnalytics.cs
  Dashboard/Server/Telemetry/SessionSummary.cs
  Testing/Dashboard/Persistence.UnitTests/PersistenceNUnitTests.cs
Labels: Dashboard, Testing

#46 names in sync with Persistance
  Dashboard/Server/Persistence/ISummaryPersistence.cs
  Dashboard/Server/Persistence/SummaryPersistence.cs
  Dashboard/Server/Persistence/TelemetryPersistence.cs
  Dashboard/Server/Telemetry/ITelemetry.cs
  Dashboard/Server/Telemetry/ServerDataToSave.cs
  Dashboard/Server/Telemetry/SessionAnalytics.cs
  Dashboard/Server/Telemetry/SessionSummary.cs
  Dashboard/Server/Telemetry/Telemetry.cs
  Dashboard/SessionData.cs
Labels: Dashboard

#50 Modified Algorithm for dynamic priority and non linear fraction
  Dashboard/Server/Summary/ChatProcessor.cs
  Dashboard/Server/Summary/ISummarizer.cs
  Dashboard/Server/Summary/Stemmer.cs
  Dashboard/Server/Summary/Summarizer.cs
Labels: Dashboard

#49 removed the extra argument from get summary function
  Dashboard/Server/SessionManagement/ServerSessionManager.cs
Labels: Dashboard

#53 Branch Update
  Client/Client.csproj
  Client/DashboardView.xaml
  Client/DashboardView.xaml.cs
  Client/ViewModel/DashboardViewModel.cs
  Client/Whiteboard.xaml.cs
  Client/WhiteboardUX.cs
  Content/Client/ChatClient.cs
  Content/Client/ContentClient.cs
  Content/Client/ContentClientFactory.cs
  Content/Client/ContentClientNotificationHandler.cs
  Content/Client/FileClient.cs
  Content/Models/MessageData.cs
  Content/Models/SendFileData.cs
  Content/Server/ChatContextServer.cs
  Content/Server/ContentDatabase.cs
  Content/Server/ContentServer.cs
  Content/Server/ContentServerFactory.cs
  Content/Server/ContentServerNotificationHandler.cs
  Content/Server/FileServer.cs
  Content/Server/IdGenerator.cs
  Testing/Content/Client/ChatClientTest.cs
  Testing/Content/ContentModuleTest.cs
  Testing/Content/FakeCommunicator.cs
  Testing/Content/FakeContentListener.cs
  Testing/Content/Server/ChatContextServerTest.cs
  Testing/Content/Server/ChatServerTest.cs
  Testing/Content/Server/ContentDatabaseTest.cs
  Testing/Content/Server/ContentServerFactoryTest.cs
  Testing/Content/Server/FileServerTest.cs
  Testing/Content/Utils.cs
Labels: Testing, Content, Client

#51 Corrected the conflicting Data Type in SessionAnalytics
  Dashboard/Server/Persistence/TelemetryPersistence.cs
  Testing/Dashboard/Persistence.UnitTests/PersistenceNUnitTests.cs
  Testing/Persistence/PersistenceDownloads/SummaryDownloads/Summary_2021 - 11 - 20_01 - 23 - 51 - PM.txt
Labels: Dashboard, Testing

#56 Intialized whiteboard and screensharing
  Dashboard/Client/SessionManagement/ClientSessionManager.cs
  Dashboard/Client/SessionManagement/IUXClientSessionManager.cs
  Dashboard/Dashboard.csproj
  Dashboard/Server/SessionManagement/ServerSessionManager.cs
  Testing/Dashboard/SessionManagement/SessionManagementTest.cs
Labels: Dashboard, Testing

#57 Added the stop method
  Dashboard/Client/SessionManagement/ClientSessionManager.cs
  Dashboard/Server/SessionManagement/ServerSessionManager.cs
Labels: Dashboard

#54 Completed Unit testing and SaveSummary
  Dashboard/Server/Summary/ChatProcessor.cs
  Dashboard/Server/Summary/ISummarizer.cs
  Dashboard/Server/Summary/Stemmer.cs
  Dashboard/Server/Summary/Summarizer.cs
  Dashboard/Server/Summary/SummarizerFactory.cs
  Testing/Dashboard/Summary/SummaryTest.cs
  Testing/Dashboard/Summary/Utils.cs
Labels: Dashboard, Testing

#61 Branch Update
  Client/AuthView.xaml
  Client/AuthView.xaml.cs
  Client/ChatView.xaml.cs
  Client/Client.csproj
  Client/MainWindow.xaml
  Client/MainWindow.xaml.cs
  Client/Theme1.xaml
  Client/Theme2.xaml
  Client/ViewModel/ChatViewModel.cs
  Content/Client/ContentClientFactory.cs
  Content/Client/FileClient.cs
  Content/Server/ContentServer.cs
  Dashboard/Client/SessionManagement/ClientSessionManager.cs
  Server/Program.cs
  Testing/Client/Chat/ChatUnitTest.cs
  Testing/Content/Client/ChatClientTest.cs
  Testing/Content/Client/ContentClientFactoryTest.cs
  Testing/Content/ContentModuleTest.cs
  Testing/Content/Utils.cs
Labels: Dashboard, Testing, Content, Client, Server

#59 Added Exception Handling and few Test cases for it.
  Dashboard/Server/Persistence/PersistenceFactory.cs
  Dashboard/Server/Persistence/ResponseEntity.cs
  Dashboard/Server/Persistence/SummaryPersistence.cs
  Dashboard/Server/Persistence/TelemetryPersistence.cs
  Testing/Dashboard/Persistence/PersistenceNUnitTests.cs
Labels: Dashboard, Testing

#62 Code cleanup
  Dashboard/Server/Summary/ChatProcessor.cs
  Dashboard/Server/Summary/Summarizer.cs
  Testing/Dashboard/Summary/Utils.cs
Labels: Dashboard, Testing

#52 unit tests
  Dashboard/Server/Telemetry/ITelemetry.cs
  Dashboard/Server/Telemetry/Telemetry.cs
  Dashboard/Server/Telemetry/TelemetryFactory.cs
  Testing/Dashboard/Telemetry/TelemetryTests.cs
Labels: Dashboard, Testing

#64 Branch Update
  Client/AuthView.xaml
  Client/AuthView.xaml.cs
  Client/Client.csproj
  Client/MainWindow.xaml
  Client/UsersList.xaml
  Client/UsersList.xaml.cs
  Client/ViewModel/AuthViewModel.cs
  Client/ViewModel/ChatViewModel.cs
  Client/ViewModel/HomePageViewModel.cs
  README.md
  ScreenSharing/Client/ScreenShareClient.cs
  ScreenSharing/Server/ScreenShareServer.cs
  Testing/UX/Chat/ChatUnitTest.cs
  Testing/UX/Module/UXModuleTesting.cs
Labels: Testing, ScreenSharing, Client

#63 Added some unit tests for the session manager
  Dashboard/Client/SessionManagement/ClientSessionManager.cs
  Dashboard/Client/SessionManagement/IUXClientSessionManager.cs
  Dashboard/Server/SessionManagement/IUXServerSessionManager.cs
  Dashboard/Server/SessionManagement/ServerSessionManager.cs
  Dashboard/Server/Telemetry/SessionAnalytics.cs
  Dashboard/ServerToClientData.cs
  Dashboard/SessionData.cs
  Testing/Dashboard/ModuleTest.cs
  Testing/Dashboard/SessionManagement/SessionManagementTest.cs
  Testing/Dashboard/SessionManagement/TestModules/FakeClientUX.cs
  Testing/Dashboard/SessionManagement/TestModules/FakeServerUX.cs
  Testing/Dashboard/SessionManagement/TestModules/TestCommunicator.cs
  Testing/Dashboard/SessionManagement/TestModules/TestContentServer.cs
  Testing/Dashboard/SessionManagement/Utils.cs
Labels: Dashboard, Testing

#66 Commented partially and added some exception handling.
  Dashboard/Client/SessionManagement/ClientSessionManager.cs
  Dashboard/Client/SessionManagement/IUXClientSessionManager.cs
  Dashboard/IRecievedFromServer.cs
  Dashboard/Server/SessionManagement/ITelemetrySessionManager.cs
  Dashboard/Server/SessionManagement/IUXServerSessionManager.cs
  Dashboard/Server/SessionManagement/ServerSessionManager.cs
  Dashboard/SessionData.cs
  Dashboard/SummaryData.cs
  Dashboard/UserData.cs
  Testing/Dashboard/SessionManagement/SessionManagementTest.cs
Labels: Dashboard, Testing

#68 Branch Update
  Content/Client/ChatClient.cs
  Content/Client/ContentClientNotificationHandler.cs
  Testing/Content/Client/ChatClientTest.cs
  Testing/Content/Client/ContentClientNotificationHandlerTest.cs
  Testing/Content/ContentModuleTest.cs
  Testing/Content/FakeContentNotificationHandler.cs
Labels: Testing, Content

#70 Added telemetry test
  Dashboard/Client/SessionManagement/ClientSessionManager.cs
  Dashboard/Server/SessionManagement/ServerSessionManager.cs
  Testing/Dashboard/SessionManagement/SessionManagementTest.cs
  Testing/Dashboard/SessionManagement/TestModules/FakeClientUX.cs
  Testing/Dashboard/SessionManagement/TestModules/FakeTelemetry.cs
Labels: Dashboard, Testing

#71 Delete summary persistence after testing save summary
  Testing/Dashboard/Summary/SummaryTest.cs
Labels: Testing

#72 Bug fix in whiteboard initialisation
  Dashboard/Server/SessionManagement/ServerSessionManager.cs
Labels: Dashboard

#73 Added the test for getAnalytics function
  Dashboard/Client/SessionManagement/ClientSessionManager.cs
  Dashboard/Server/SessionManagement/ServerSessionManager.cs
  Dashboard/ServerToClientData.cs
  Testing/Dashboard/SessionManagement/SessionManagementTest.cs
Labels: Dashboard, Testing

#74 added try catch
  Dashboard/Server/Telemetry/ITelemetry.cs
  Dashboard/Server/Telemetry/ServerDataToSave.cs
  Dashboard/Server/Telemetry/SessionAnalytics.cs
  Dashboard/Server/Telemetry/SessionSummary.cs
  Dashboard/Server/Telemetry/Telemetry.cs
  Dashboard/Server/Telemetry/TelemetryFactory.cs
  Testing/Dashboard/Telemetry/TelemetryTests.cs
Labels: Dashboard, Testing

#75 Minor comments for testing files added
  Testing/Dashboard/Summary/SummaryTest.cs
  Testing/Dashboard/Summary/Utils.cs
Labels: Testing

#76 Added some tests and did some trace writing
  Dashboard/Client/SessionManagement/ClientSessionManager.cs
  Dashboard/Client/SessionManagement/IClientSessionNotifications.cs
  Dashboard/Client/SessionManagement/IUXClientSessionManager.cs
  Dashboard/ClientToServerData.cs
  Dashboard/MeetingCredentials.cs
  Dashboard/Server/SessionManagement/ITelemetryNotifications.cs
  Dashboard/Server/SessionManagement/ITelemetrySessionManager.cs
  Dashboard/Server/SessionManagement/IUXServerSessionManager.cs
  Dashboard/Server/SessionManagement/ServerSessionManager.cs
  Dashboard/ServerToClientData.cs
  Dashboard/SessionData.cs
  Dashboard/SessionManagerFactory.cs
  Dashboard/SummaryData.cs
  Dashboard/UserData.cs
  Testing/Dashboard/ModuleTest.cs
  Testing/Dashboard/SessionManagement/SessionManagementTest.cs
  Testing/Dashboard/SessionManagement/TestModules/FakeClientUX.cs
  Testing/Dashboard/SessionManagement/TestModules/FakeCommunicator.cs
  Testing/Dashboard/SessionManagement/TestModules/FakeContentServer.cs
  Testing/Dashboard/SessionManagement/TestModules/FakeServerUX.cs
  Testing/Dashboard/SessionManagement/TestModules/FakeTelemetry.cs
  Testing/UX/Authentication/AuthUtils.cs
Labels: Dashboard, Testing

#77 Bug Fix in RemoveClientProcedure
  Dashboard/Server/SessionManagement/ServerSessionManager.cs
Labels: Dashboard

#79 Bug fix while leaving a meet because of disconnection
  Dashboard/Server/SessionManagement/ServerSessionManager.cs
Labels: Dashboard
